:root {
  --light-color: #f8f9fa;
  --dark-color: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-color);
  font-size: 1rem;
  color: var(--light-color);
}

.container {
  width: min(500px, 100%);
  padding-inline: 1rem;
}

.alert {
  width: min(500px, calc(100%-2rem));
  position: absolute;
  background: var(--dark-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: .25rem;
  text-align: center;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  z-index: 100;
  border: 1px solid var(--light-color);
}

.alert h1 {
  font-size: 1.25rem;
  border-bottom: 1px solid var(--light-color);
  padding-bottom: 1rem;
}

.alert p {
  padding: 1rem 0;
}

.hidden {
  display: none;
}

@media screen and (min-width: 516px) {
  .container {
    padding: 0;
    margin-inline: auto;
  }
}

header {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--light-color);
  margin-bottom: 1rem;
}

.title {
  margin-bottom: .5rem;
  font-style: italic;
}

.result-box {
  width: 100%;
  min-height: 120px;
  background: var(--light-color);
  color: var(--dark-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  position: relative;
  margin-bottom: 1rem;
}

.result {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  font-size: 1.25rem;
}

.soal-box {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.soal {
  border-bottom: 1px solid var(--light-color);
  width: 100%;
}

#soal {
  width: 100%;
  height: 100%;
  outline: none;
  display: flex;
  align-items: center;
}

.soal .mq-editable-field,
.soal .mq-math-mode .mq-editable-field {
  border: none;
}

.soal-btn, .alert button {
  background-color: #c1121f;
  font-family: "Poppins", sans-serif;
  color: var(--light-color);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.soal__title {
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.btn {
  background-color: var(--light-color);
  color: var(--dark-color);
  width: 70px;
  height: 45px;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  outline: none;
}

.btn .mq-sup {
  font-size: 0.6rem;
}

.btn .mq-fraction {
  font-size: 0.6rem;
}

.btn .mq-numerator {
  padding-bottom: 2px;
}

.btn .mq-denominator {
  padding-top: 2px;
}

.btn .mq-nthroot {
  font-size: 0.5rem !important;
  margin-right: -0.5rem !important;
  margin-bottom: 2px;
}

.btn .mq-sqrt-stem,
.btn .mq-non-leaf {
  font-size: 0.85rem;
}

span[mathquill-command-id="71"] {
  font-size: 1rem;
}

span[mathquill-command-id="74"] {
  font-size: .9rem;
}
